In [1]:
import load_data as ld
import sma as sma
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
ld = ld.LoadData()
ld.show_available_commodities()

Available commodities:
Crude Oil: CL=F
Gold: GC=F
Natural Gas: NG=F
Silver: SI=F
Copper: HG=F
Corn: ZC=F
Soybeans: ZS=F
Wheat: KE=F
Coffee: KC=F
Cotton: CT=F
Sugar: SB=F
Aluminum: ALI=F
Platinum: PL=F
Palladium: PA=F
Brent Crude: BZ=F
Frozen Orange Juice: OJ=F
Micro Gold: MGC=F
Micro Silver: SIL=F
Heating Oil: HO=F
RBOB Gasoline: RB=F
Oat Futures: ZO=F
Rough Rice: ZR=F
Soybean Oil: ZL=F
Lean Hogs: HE=F
Live Cattle: LE=F
Feeder Cattle: GF=F
Cocoa: CC=F

In [4]:
commos = ['Oat Futures'] 

df = ld.load_data_from_yf(commodities = commos)
df

Fetching data from 2010-02-03 to 2025-02-03

[*********************100%%**********************]  1 of 1 completed

Combined data saved to ./data\combined_commodities.csv

            Oat Futures
Date
2010-02-05    -0.010929
2010-02-08     0.020994
2010-02-09    -0.004329
2010-02-10     0.009783
2010-02-11     0.000000
...                 ...
2025-01-28    -0.003569
2025-01-29     0.002865
2025-01-30    -0.002143
2025-01-31    -0.005011
2025-02-03     0.015827

[3771 rows x 1 columns]